<!DOCTYPE html>
<html>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <head>

    <title>Sean's Webpage</title>

  </head>

  <style>

    .e-mail.ng-invalid {
      background-color: yellow;
      color: lightblue;
    }

    table, th, td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }

    table tr:nth-child(odd) {
      background-color: #ffffff;
    }

    table tr:nth-child(even) {
      background-color: #f1f1f1;
    }

    table th {
      background-color: #c1c1c1;
    }

  </style>

  <body>

    <h1>This is a big header</h1>
    <h2>This is quite a big header</h2>
    <h3>This is an h3 header</h3>
    <h4>This is an h4 header</h4>
    <h5>This is an h5 header</h5>
    <h6>This is an h6 header</h6>

    <hr>

    <p>Here is some <strong>bold</strong> text </p>
    <p>Here is some <em>italic</em> text </p>
    <p>Here is some <ins>underlined</ins> text </p>
    Example hr line<hr>
    <p>Here is some <sub>subscript</sub> text </p>
    <p>Here is some <del>deleted</del> text </p>
    <p>Here is some <sup>superscript</sup> text </p>

    <hr>

    <ul>
      <li><strong>Ty</strong></li>
      <li><em>Jennifer</em></li>
      <li><em>Steve</em></li>
      <li><strong>Beth</strong></li>
    </ul>

    <ol reversed type="i">
      <li><strong>Ty</strong></li>
      <li><em>Jennifer</em></li>
      <li><em>Steve</em></li>
      <li><strong>Beth</strong></li>
    </ol>

    <hr>

    <img src="CFlow1.png" width="100" height="100" align="left">
    <p>Chatbot demonstration</p>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg">
    <p>Rick and Morty Opening Credits</p>

    <hr>

    <form>
      <p>Username: <input type="text" placeholder="your username"></p>
      <p>Stay logged in: <input type="checkbox" checked></p>
      <p>Under 18: <input type="radio" name="age" value="u18"></p>
      <p>Over 18: <input type="radio" name="age" value="o18"></p>
      <p>Favorite Food:
      <select>

        <option>Pizza</option>
        <option selected>Ice Cream</option>
        <option>Sandwiches</option>

      </select>
      </p>

      <p><input type="submit" value="Click Me!"></p>

    </form>

    <hr>

    <table>

      <thead>
        <tr>
          <th>Name</th>
          <th>Favorite Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rob</td>
          <td>Green</td>
        </tr>
        <tr>
          <td>Kirsten</td>
          <td>Orange</td>
        </tr>
        <tr>
          <td>Tommy</td>
          <td>Pink</td>
        </tr>
        <tr>
          <td>Ralphie</td>
          <td>Blue</td>
        </tr>
      </tbody>

    </table>

    <hr>

    <p id="top"><a href="http://www.google.com">Click here to go to google.com</a></p>
    <p><a href="https://www.wikipedia.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg"></a></p>
    <p><a href="helloworld.html">Hello World!</a></p>
    <p><a href="https://www.wikipedia.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg"></a></p>
    <p><a href="https://www.wikipedia.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg"></a></p>
    <p><a href="https://www.wikipedia.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg"></a></p>
    <p><a href="https://www.wikipedia.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg"></a></p>
    <p><a href="https://www.wikipedia.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg"></a></p>
    <p><a href="https://www.wikipedia.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Rick_and_Morty_opening_credits.jpeg/250px-Rick_and_Morty_opening_credits.jpeg"></a></p>
    <p><a href="#top">Back to top</a></p>


    <hr>

    &lt;a href="http://google.com"&gt;

    <hr>

    <iframe src="http://www.ecowebhosting.co.uk"></iframe>

    <iframe src="helloworld.html" frameborder="0"></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/-1l0NYQUGHU" frameborder="0" allowfullscreen></iframe>

    <hr>

    <p>Using angular as practice for capstone</p>
    <div ng-app="myApp" ng-controller="myCtrl" ng-init="mySwitch=true" ng-init="hour=13">

      <h1 ng-click="changeName()">{{firstName + " " + lastName}}</h1>
      First Name: <input type="text" placeholder="First Name" ng-model="firstName"><br>
      Last Name: <input type="text" placeholder="Last Name" ng-model="lastName"><br>
      <br>
      Full Name: {{fullName()}}
      <!-- If no default name is put in the first and/or last name spots, the
      full name will default to undefined undefined since it is blank -->

      <hr>

      <form name="myForm">

        <br>
        Email:
        <input class="e-mail" type="email" name="myAddress" ng-model="myAddress" required>
        <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
        <p>Enter your e-mail address in the input field. AngularJS will display an error message
          if the address is not an e-mail.</p>
        <h1>{{myForm.myAddress.$valid}}</h1>

      </form>

      <hr>

      <p><input type="text" ng-model="test"</p>
      <ul>
        <li ng-repeat="x in names | filter : test ">
          {{ x.name + ', ' + x.first }}
        </li>
      </ul>

      <hr>

      <table border="1" width="100%">
        <tr>
          <th ng-click="orderByMe('name')">Name</th>
          <th ng-click="orderByMe('first')">First</th>
        </tr>
        <tr ng-repeat="x in names | orderBy:myOrderBy">
          <td>{{x.name}}</td>
          <td>{{x.first}}</td>
        </tr>
      </table>

      <hr>

      <ul>
        <li ng-repeat="x in myData">
          {{ x.Name + ', ' + x.Country }}
        </li>
      </ul>

      <hr>

      <p>An attempt to print the JSON data back into JSON format</p>
      <pre ng-repeat = "x in myData">{{ {'Name': + 'x.Name'} + {'City': + 'x.City'} + {'Country': + 'x.Country'} | json}}</pre>

      <hr>

      <!-- When using ng-repeat in this fashion, the options must be strings -->
      <p>Select a Car:</p>
      <select ng-model="selectedCar">
        <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
      </select>
      <h2>You selected: {{selectedCar}}</h2>

      <hr>

      <!-- The ng-options on the other hand can handle objects and is the better pick
      in terms of selection, even in this case where we are still using strings-->
      <select ng-model="selectedCar2" ng-options="x.model for x in cars"></select>
      <h2>You selected: {{selectedCar2.model}}</h2>
      <h3>Its color is: {{selectedCar2.color}}</h3>

      <hr>

      <!-- Here is the use of ng-options with objects. x being auto 1 through 3 and the key.
        Here, it is easier to reference through y.brand as it is clear what choice is made then-->
      <select ng-model="selectedCar3" ng-options="y.brand for (x, y) in autos"></select>
      <h2>You selected: {{selectedCar3.brand}}</h2>
      <h3>Model: {{selectedCar3.model}}</h3>
      <h3>Color: {{selectedCar3.color}}</h3>

      <hr>

      <table>
        <thead>
          <th>Name</th>
          <th>City</th>
          <th>Country</th>
        </thead>
        <tr ng-repeat="x in myData">
          <td>{{x.Name}}</td>
          <td>{{x.City}}</td>
          <td>{{x.Country}}</td>
        </tr>
      </table>

      <hr>

      <p><button ng-disabled="mySwitch">Click Me!</button></p>
      <p><input type="checkbox" ng-model="mySwitch">Button</p>
      <p>{{mySwitch}}</p>

      <hr>

      <p ng-show="true">I am visible, show true</p>
      <p ng-show="false">I am not visible</p>
      <p ng-show="hour > 12">I am visible, hour conditional true</p>
      <p ng-hide="true">I am not visible</p>
      <p ng-hide="false">I am visible, hide false</p>

      <hr>

      <h3>AngularJS Events</h3>
      <ul>
        <li ng-repeat="x in events">{{x.event}}</li>
      </ul>
      <p>Precedence: mouseover, mouseenter, mousemove, mouseleave</p>
      <p>Precidence: mousedown, mouseup, click</p>

      <hr>

      <!-- Includes the whole line that the text lies upon -->
      <h1 ng-mousemove="count = count + 1">Mouse over me!</h1>
      <button ng-click="myFunction()">Click me!</button>
      <h2>{{count}}</h2>

      <hr>

      <button ng-click="myFunc()">Click Me!</button>
      <div ng-show="showMe">
        <h1>Menu:</h1>
        <p>Pizza</p>
        <p>Pasta</p>
        <p>Pesce</p>
      </div>

      <hr>

      <h3 ng-mousemove="myFunc2($event)">Mouse Over Me!</h3>
      <p>Coordinates: {{x + ', ' + y}}</p>

      <hr>

      <form>
        First Name: <input type="text" ng-model="firstname">
      </form>
      <h3>You entered: {{firstname}}</h3>

      <hr>

      <form>
        Select a topic:
        <select ng-model="myVar">
            <option value="">
            <option value="dogs">Dogs
            <option value="tuts">Tutorials
            <option value="cars">Cars
        </select>
      </form>
      <div ng-switch="myVar">
        <div ng-switch-when="dogs">
          <h1>Dogs</h1>
          <p>Welcome to DogLand</p>
        </div>
        <div ng-switch-when="tuts">
          <h1>Tutorials</h1>
          <p>Learn from doing</p>
        </div>
        <div ng-switch-when="cars">
          <h1>Cars</h1>
          <p>All about cars</p>
        </div>
      </div>
      <p>The ng-switch directive hides and shows HTML sections depending on the
          value of the dropdown list.</p>

      <hr>

      <form>
        Pick a topic:
        <input type="radio" ng-model="myVar2" value="dogs">Dogs
        <input type="radio" ng-model="myVar2" value="tuts">Tutorials
        <input type="radio" ng-model="myVar2" value="cars">Cars
      </form>
      <div ng-switch="myVar2">
        <div ng-switch-when="dogs">
          <h1>Dogs</h1>
          <p>Welcome to DogLand</p>
        </div>
        <div ng-switch-when="tuts">
          <h1>Tutorials</h1>
          <p>Learn from doing</p>
        </div>
        <div ng-switch-when="cars">
          <h1>Cars</h1>
          <p>All about cars</p>
        </div>
      </div>
      <p>The ng-switch directive hides and shows HTML sections depending on the
          value of the radio buttons.</p>

      <hr>



    </div>

    <script src="myCtrl.js"></script>

  </body>

</html>
